.idea
.idea/
**/.idea/

# Terraform local artifacts
**/.terraform/
**/*.tfstate
**/*.tfstate.*
**/.terraform.tfstate.lock.info
**/crash.log
**/*.tfvars
**/*tfplan*

# Helm dependency packages (rebuild with helm dependency build)
charts/**/charts/*.tgz
